* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

label {
  cursor: pointer;
  user-select: none;
}

address {
  font-style: normal;
}
