// FONTS
$font: "Alegreya Sans", Arial, sans-serif;
$OpenSans: "Open Sans", Arial, sans-serif;
$font_size: 24px;

// SIZE
$container: 1240px;
$height: 100vh;

// SCREEN SIZE
$big_computer: 1680px;
$computer: 1240px;
$tablet: 768px;
$phone: 480px;
$small_phone: 320px;
