// COLORS

//base web colors
$white: #ffffff; // rgb(255, 255, 255);
$black: #000000; // rgb(0, 0, 0);
$red: #ff0000; // rgb(255, 0, 0);
$green: #008000; // rgb(0, 128, 0);
$blue: #0000ff; // rgb(0, 0, 255);
$yellow: #ffff00; // rgb(255, 255, 0);
$grey: #808080; // rgb(128, 128, 128);
$brown: #a52a2a; // rgb(165, 42, 42);
$orange: #ffa500; // rgb(255, 165, 0);

//project colors
